<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>

	<category label="1000">
	    <setting id="sep1" label="1000" type="lsep"/> 
        <setting label="101" type="text" id="settings_username" default=""/>
        <setting label="102" type="text" id="settings_password" default="" option="hidden" enable="!eq(-1,)"/>
    </category>
    
    <category label="2000">
        <setting id="sep2" label="2000" type="lsep"/>
		<setting label="201" type="folder" id="settings_files_path" default="" option="writeable"/>
		<setting id="sep21" label="4000" type="lsep"/>
		<setting label="202" type="bool" id="settings_epg" default="false"/>
		<setting label="203" type="bool" id="settings_epg_cash" default="true" enable="!eq(-1,false)"/>
		<setting label="204" type="bool" id="settings_iptv_simple_reload" default="true"/>
    </category>

    <category label="3000">
        <setting id="sep3" label="3000" type="lsep"/>
        <setting label="301" type="bool" id="settings_advanced_options" default="false"/>
        <setting label="302" type="text" id="settings_api_url" default="https://api.iptv.bulsat.com" enable="!eq(-1,false)"/>
        <setting label="303" type="enum" id="settings_os" values="Web|Samsung" default="0" enable="!eq(-2,false)"/>
        <setting id="sep31" label="4000" type="lsep"/>
		<setting label="304" type="slider" id="settings_timeout" default="10" range="5,5,30" option="int"/>
    </category>

    <category label="4000">
        <setting id="sep4" label="4000" type="lsep"/>
        <setting label="401" type="bool" id="settings_notification" default="true"/>
		<setting label="402" type="bool" id="settings_debug" default="false"/>
    </category>

</settings>
